---
const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="container max-w-full  bg-brand">
			<div class="mx-auto max-w-xl px-4 py-8">
				<h1 class="text-4xl text-white font-bold mb-4">{title}</h1>
				<slot />
			</div>
		</div>
	</body>
</html>
